<div class="title"><a href="/transactions"><img src="/images/squid logo version 1.png" id="squidlogo_title_solo"></a></div>

<h1 class="table_title" id="edit_title">Edit an existing transaction!</h1>

<form action="/transactions/<%= @transaction.id %>" method="post">
<input type="hidden" name="_method" value="PUT">

<div class="edit_form">
  <div class="around_form">
  <h3>
    ENTER AN AMOUNT<br>
  <input type="text" name="amount" class="entry_field" value=<%= @transaction.amount%>>
</h3>

  <h3>
    SELECT A MERCHANT<br>
      <select name="merchant_id" class="entry_field">
        <% for merchant in @merchants %>
          <option value=<%= merchant.id %> selected=<%= "selected" if @transaction.merchant_id == merchant.id %>><%= merchant.merchant_name %></option>
        <% end %>
      </select>
  </h3>


  <h3>
    SELECT A TAG<br>
      <select name="tag_id" class="entry_field">
        <% for tag in @tags %>
          <option value=<%= tag.id %> selected=<%= "selected" if @transaction.tag_id == tag.id %> ><%= tag.tag %></option>
        <% end %>
      </select>
  </h3>

  <h3>
    ADD A DATE<br>
    <input type="date" name="transaction_date" placeholder="25/11/2017" class="entry_field" value=<%=@transaction.transaction_date%>
  </h3>

  <h3>
    ADD A COMMENT<br>
  <input type="text" name="comment" class="entry_field" value=<%= @transaction.comment%>>
  </h3>

  <input type='submit' class="add_button" id="edit_button">
  </div>
</div>

</form>
